[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/plugged/vim-fugitive"]
	path = vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
